<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--project-name</key>
	<string>ios-gradle-objc-template</string>
	<key>--project-company</key>
	<string>Jared Burrows</string>
	<key>--company-id</key>
	<string>com.burrows</string>
	<key>--create-html</key>
	<true/>
	<key>--create-docset</key>
	<false/>
	<key>--print-settings</key>
	<true/>
	<key>--output</key>
	<string>./build/documentation</string>
</dict>
</plist>
